// Set your brand colors
$mkplpurple: #A790C2;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $primary: $mkplpurple,
  $section-padding: 3rem 0.8rem,
  $content-table-cell-padding: 0.25em 0.25em,
);

body {
  font-family: "Noto Sans JP", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
}

table {
  th {
    vertical-align: top;
  }
}

.is-middle {
  vertical-align: middle !important;
}

.is-size-65 {
  font-size: 0.85rem !important;
}

.is-size-8 {
  font-size: 0.65rem !important;
}

@media screen and (max-width: 768px) {
  .is-size-65-mobile {
    font-size: 0.85rem !important;
  }

  .is-size-8-mobile {
    font-size: 0.65rem !important;
  }
}

@media screen and (min-width: 769px),
print {
  .is-size-65-tablet {
    font-size: 0.85rem !important;
  }

  .is-size-8-tablet {
    font-size: 0.65rem !important;
  }
}

@media screen and (max-width: 1023px) {
  .is-size-65-touch {
    font-size: 0.75rem !important;
  }

  .is-size-8-touch {
    font-size: 0.65rem !important;
  }
}

@media screen and (min-width: 1024px) {
  .is-size-65-desktop {
    font-size: 0.85rem !important;
  }

  .is-size-8-desktop {
    font-size: 0.65rem !important;
  }
}

@media screen and (min-width: 1216px) {
  .is-size-65-widescreen {
    font-size: 0.85rem !important;
  }

  .is-size-8-widescreen {
    font-size: 0.65rem !important;
  }
}

@media screen and (min-width: 1408px) {
  .is-size-65-fullhd {
    font-size: 0.85rem !important;
  }

  .is-size-8-fullhd {
    font-size: 0.65rem !important;
  }
}