// Set your brand colors
$mkplpurple: #A790C2;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $primary: $mkplpurple,
  $section-padding: 3rem 0.8rem,
  $content-table-cell-padding: 0.25em 0.25em,
);

table {
  th {
    vertical-align: top;
  }
}
